@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Configure this application to showcase what movies and TV shows you own.  This application will allow you to share your library with friends and help manage large media libraries.</p>
