@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    425 Hunters Way<br />
    Bozeman, MT 59718<br />
    <abbr title="Phone">P:</abbr>
    406.589.7485
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:michael@shihrer.me">michael@shihrer.me</a>
</address>